.popup__error {
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top:44%;
    visibility: hidden;
}

.popup__error:last-of-type {
top:60%;
}

@media screen and (max-width: 600px) {
    .popup__error {
        top:47%;
    }

    .popup__error:last-of-type {
        top:65%;
        }
    
}