.popup__input-caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 358px;
    margin: 0 0 48px 0;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:600px){
    .popup__input-caption {
        margin: 0 0 45px 0;
    }
}